.Explor .ill{
    font-size: 40px;
    font-weight: lighter;
    margin-left: 4rem;
    position: relative;
    bottom: 6rem;
    
}
.Explor button {
    background-color: white;
    color: green;
    border-radius: 20rem;
    border-color: green;
    width: 200px;
    height: 3rem;
    font-size: 17px;
    margin-left: 5rem;
    position: relative;
    left:  4rem;
    bottom: 6rem;
    
    }
    .Explor button:hover{
        background-color: rgb(21, 150, 21);
        transition: 0.3s ease-in-out;
        
    }
    .Explor button a{
        text-decoration: none;
        color: green;
    }
    .Explor button a:hover{
        color: white;
    }
    .Amat img{
        width: 28rem;
        position: relative;
        left: 48rem;
        bottom: 25rem;
    }